.main-header {
    font-family: Inter;
}

.cluster__header_green {
    padding: 5px;
    color: #040604;
    font-family: Inter;
    border-radius: 5px;
    border-style: solid;
    border-color: #92b4ac;
    background-color: #92b4ac;
}

.cluster_green {
    border-radius: 5px;
    border-style: solid;
    border-color: #f4f7f4;
    background-color: #f4f7f4;
    width: auto;
}

.cluster__news_green {
    color: #040604;
    font-family: Inter;
}

.src-link_green {
    color: #040604;
    text-decoration: none;
}

.src-link_green:visited, .src-link_green:hover {
    color: #6d996c;
    text-decoration: underline;
}

