<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="static\Н.ico">
        <link rel="stylesheet" href="static\styles.css">
    </head>
    <body>
        <header>
            <h1 class="main-header">{{title}}</h1>
        </header>
        <main>
            {% for cluster in clusters %}
                <ul class="cluster_green">
                {% for news in cluster %}
                    <li class="cluster__news_green">
                    {{news[1]}} : <a class="src-link_green" href="{{news[0]}}">источник.</a>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        </main>
    </body>
</html>